.container {
    background-color:antiquewhite;
    width:300px;
    margin:auto;
}

.monitor-panel {
    height: 30px;
    width:97%;
    font-size: 28px;
}

.tombol-panel {
    display: flex;
}

.tombol {
    padding:10px;
    flex-wrap: wrap;
}

