.container {
    background-color:antiquewhite;
    width:200px;
    margin:auto;
}

.monitor-panel {
    height: 30px;
    width:97%;
    font-size: 28px;
}

.tombol-panel {
    display: flex;
    flex-wrap: wrap;
}

.tombol {
    background-color: burlywood;
    padding:10px;
    margin: 20px;
    width: 30px;
    font: 28px;
    
}

